{% extends "base.html" %}

{% block main %}
<div class="about">
    <div class="about-section" id="jttpa">
        <div class ="home-bar"><h1>About</h1></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas tenetur, labore blanditiis facere nostrum exercitationem optio, laborum temporibus voluptatibus mollitia omnis eos vel nam sed? Obcaecati officia adipisci ut autem tempora magni ipsam repellat at, eaque debitis saepe nisi doloremque amet ducimus fugiat hic voluptatum nulla id eligendi suscipit molestias repellendus! Nemo fugiat, sunt nam esse fuga ducimus quod eius consequuntur officia, vel accusamus! Odio deserunt sint repellat blanditiis inventore voluptatem at soluta quaerat cupiditate numquam alias et non fugit, voluptas eveniet eaque obcaecati est excepturi consequatur rerum perspiciatis eos autem quod. Nulla cumque vel harum fugiat officiis molestias?</p>
    </div>  

    <div class="about-section" id="executives">
        <div class ="home-bar"><h1>Executives</h1></div>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic unde et excepturi dolorum suscipit nemo aperiam tempore, sed deleniti porro. Eveniet id pariatur, odit harum explicabo quaerat quidem doloremque rerum et tempora dolorum ea voluptatibus repudiandae delectus. Qui saepe architecto, consequatur veniam cumque voluptas aliquid minus illum rem quibusdam, non ipsa? Esse quaerat fuga quisquam nulla doloribus facere a nihil molestias, amet dicta ex exercitationem ut quia sunt laborum magnam iusto. Debitis repellat asperiores dolorum aliquid, corporis modi praesentium? Deserunt nemo, eligendi molestias laboriosam cupiditate laudantium similique maiores ab ad, repellat libero in unde perferendis minus ducimus quis laborum tenetur!</p>
    </div>

    <div class="about-section" id="chapters">
        <div class ="home-bar"><h1>Chapters</h1></div>
        <p>Lorem.</p>
        <p>Lorem.</p>
        <p>Lorem.</p>
        <p>Lorem.</p>
        <p>Lorem.</p>
    </div>

    <div class="about-section" id="donate-section">
        <div class ="home-bar"><h1>Donate</h1></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quidem voluptate quas aliquam commodi magnam esse molestias dolorem asperiores labore?</p>
    </div>

    <div class="about-section" id="contact-section">
        <div class ="home-bar"><h1>Contact</h1></div>
        <p>Contact Info 1</p>
        <p>Contact Info 2</p>
    </div>
</div>
{% endblock %}