{% extends "base.html" %}

{% block main %}
<div class="invitational">
    <div class="invitational-section">
        <div class ="home-bar"><h1>T6</h1></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, laudantium?</p>
    </div>

    <div class="invitational-section">
        <div class ="home-bar"><h1>T8</h1></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, laudantium?</p>
    </div>

    <div class="invitational-section">
        <div class ="home-bar"><h1>T10</h1></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, laudantium?</p>
    </div>

    <div class="invitational-section">
        <div class ="home-bar"><h1>T12</h1></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, laudantium?</p>

    </div>

    <div class="invitational-section">
        <div class ="home-bar"><h1>T16</h1></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, laudantium?</p>
    </div>
</div>
{% endblock %}
