{% extends "base.html" %}

{% block main %}
<div class="super-league">
    <div class="super-league-section" id="league">
        <div class ="home-bar"><h1>The League</h1></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, laudantium?</p>
    </div>

    <div class="super-league-section" id="clubs">
        <div class ="home-bar"><h1>Clubs</h1></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, laudantium?</p>

    </div>

    <div class="super-league-section" id="standings">
        <div class ="home-bar"><h1>Standings</h1></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, laudantium?</p>

    </div>

    <div class="super-league-section" id="draft">
        <div class ="home-bar"><h1>2024 Draft</h1></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, laudantium?</p>
    </div>
</div>
{% endblock %}
